# ignore build output directories
bin/
obj/
output/

# ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ignore build results
*.exe
*.dll
*.pdb
*.cache
*.ilk 
*.log 
*.vspscc 
*.vssscc 
*.tmp 
*.csproj.FileListAbsolute.txt 

# ignore NuGet packages 
*.nupkg 
*.snupkg 
project.lock.json 
project.fragment.lock.json 
artifacts/ 

# ignore Rider project files 
.idea/ 
*.sln.iml 

# ignore Visual Studio Code settings 
.vscode/ 

# ignore other files 
*.log 
*.tlog 
*.ide 
*.suo 
*.user 
*.userosscache 
*.sln.docstates